body {
    background-color: white;
    text-align: center;
    font-style: bold;
    font-family: 'Segoe UI';
}

h1 {
    color: red;
    background-color: white;
    text-align: center;
    font-size: 100px;
    font-style: bold;
    font-family: 'Segoe UI';
}

#header img {
    max-width: 300px;
    background-color: white;
}

h4 {
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    font-family: 'Segoe UI';
}

h6 {
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    font-family: 'Segoe UI';
}

h7 {
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    font-family: 'Segoe UI';
}

/* Mercedes */
.mercedes {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:mediumaquamarine;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.lewis {
    margin: 0 8px;
    font-size: 30px;
}

.lewis img {
    max-width: 450px;
}

.george {
    margin: 0 8px;
    font-size: 30px;
}

.george img {
    max-width: 450px;
}

.w13 img {
    max-width: 750px;
}

/* Red Bull Racing */
.redbull {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:darkred;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.max {
    margin: 0 8px;
    font-size: 30px;
}

.max img {
    max-width: 450px;
}

.sergio {
    margin: 0 8px;
    font-size: 30px;
}

.sergio img {
    max-width: 450px;
}

.rb18 img {
    max-width: 750px;
}

/* Ferrari */
.ferrari {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:red;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.charles {
    margin: 0 8px;
    font-size: 30px;
}

.charles img {
    max-width: 450px;
}

.carlos {
    margin: 0 8px;
    font-size: 30px;
}

.carlos img {
    max-width: 450px;
}

.f175 img {
    max-width: 750px;
}

/* McLaren */

.mclaren {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:orange;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.lando {
    margin: 0 8px;
    font-size: 30px;
}

.lando img {
    max-width: 450px;
}

.daniel {
    margin: 0 8px;
    font-size: 30px;
}

.daniel img {
    max-width: 450px;
}

.mcl36 img {
    max-width: 750px;
}

/* Alpine */
.alpine {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:pink;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.alonso {
    margin: 0 8px;
    font-size: 30px;
}

.alonso img {
    max-width: 450px;
}

.ocon {
    margin: 0 8px;
    font-size: 30px;
}

.ocon img {
    max-width: 450px;
}

.a522 img {
    max-width: 750px;
}
/* Alfa Romeo */
.alfaromeo {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:brown;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.bottas {
    margin: 0 8px;
    font-size: 30px;
}

.bottas img {
    max-width: 450px;
}

.zhou {
    margin: 0 8px;
    font-size: 30px;
}

.zhou img {
    max-width: 450px;
}

.c42 img {
    max-width: 750px;
}
/* Haas Ferrari */
.haas {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:silver;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.magnussen {
    margin: 0 8px;
    font-size: 30px;
}

.magnussen img {
    max-width: 450px;
}

.schumacker {
    margin: 0 8px;
    font-size: 30px;
}

.schumacker img {
    max-width: 450px;
}

.vf22 img {
    max-width: 750px;
}
/* Alphatauri */
.alphatauri {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:lightsteelblue;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.gasly {
    margin: 0 8px;
    font-size: 30px;
}

.gasly img {
    max-width: 450px;
}

.tsunoda {
    margin: 0 8px;
    font-size: 30px;
}

.tsunoda img {
    max-width: 450px;
}

.at03 img {
    max-width: 750px;
}
/* Aston Martin Armaco Mercedes */
.astonmartin {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:rgba(80, 94, 55, 0.836);
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.vettel {
    margin: 0 8px;
    font-size: 30px;
}

.vettel img {
    max-width: 450px;
}

.stroll {
    margin: 0 8px;
    font-size: 30px;
}

.stroll img {
    max-width: 450px;
}

.amr22 img {
    max-width: 750px;
}
/* Williams Mercededs */
.williams {
    width: 100%;
    display: flex;
    flex-direction: column;
    color:lightblue;
    

}

.drivers {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.albon {
    margin: 0 8px;
    font-size: 30px;
}

.albon img {
    max-width: 450px;
}

.latifi {
    margin: 0 8px;
    font-size: 30px;
}

.latifi img {
    max-width: 450px;
}

.fw44 img {
    max-width: 750px;
}
/* Comments */
#comment {
    color:black;
    background-color: white;
    text-align: left;
    font-size: 20px;
    font-style: bold;
    font-family: 'Segoe UI';
}
